.container{
    width: 800px;
    height: 700px;
    background-color: silver;
    margin: 0px auto;
    padding: 20px;
}
.topnav {
    width: 90%;
    height: 150px;
    background-color: green;
}
.sidenav {
    height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}
.main {
    height: 400px;
    width: auto;
    background-color: red;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    margin: 10px;
    
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    vertical-align: top;
    display: inline-block;
    margin: 10px;
    
}
.advertisement {
    height: 120px;
    width: auto;
    background-color: purple;
    display: block;
    margin: 10px;
    
}